body {
}

.divborder {
    border:1px solid #C0C0C0; width:50%
}

 .buttom_main
{
    color: white;
    font-size: 9pt;
	line-height: 200%;
	border: 0;
	height: 48px;
	width: 130px;
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
	text-decoration:none;
    background-image: url('images/btn_yellow.gif');
    background-color:#edf5ff;
    }
